*,
*::before *::after {
    box-sizing: border-box;
}

body {
    color:#434455;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
    
}
img {
    display: block;
    max-width: 100%;
}

/* Header */

.header {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc
    
} 
.header-container {
    display: flex;
    align-items: center;
}


.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
}
/* logotip */
.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    margin-right: 76px;
    padding: 24px 0;
    flex-direction: row;
    width: 115px;
}
.logo-top {
    color: #2E2F42; 
   
}

   

.nav-list-item {
    gap: 40px;  
   
}
.address-link-item {
   
    
}

.header-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-decoration: none;
    padding: 24px 0;
    position: relative;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
 
.current {
    color: #404bbf;
}
.current::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -1px;

    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    
   

}

.nav-list-item .header-link:hover {color: #404bbf}
.nav-list-item .header-link:focus {color:#404bbf}

.address-link {
     font-style: normal;
     display: flex;
     gap: 40px;
     margin-left: 317px;
}

.address-link-subtitle {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-wrap: nowrap;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-link-item .address-link-subtitle:hover {color:#404bbf}
.address-link-item .address-link-subtitle:focus {color: #404bbf}

/* Busines */

.business-section {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
    ),
     url(../images/busines/people-office_1_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 1440px;
    margin: 0 auto;
   
}
.business-section .container {
    
}

.main-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    }

.order-button {
    background-color:#4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {background-color: #404bbf;}

/* Advantages */

.advantages-section {
    background-color: #FFF;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-list {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.advantages-list-item {
    width: calc((100% - 72px) / 4);
}

.title {
    color:  #2E2F42;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
} 

.advantage-item-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    padding: 24px 0;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;

}

/* Our team */

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
   display: flex;
   gap: 24px;
   list-style-type: none;
   
   
 }
.team-list-item {
    width: calc ((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-cont {
    text-align: center;
    padding: 32px 0;
    background-color: #FFFFFF; 
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-title-item {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }

.team-text {
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-sosial-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;  
}

.team-sosial-item {
    width: 40px;
    height: 40px;
}

.team-sosial-link {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
}
.team-sosial-link:hover, .team-sosial-link:focus {
    background-color: #404bbf;
}

.team-svg {
    fill: #F4F4FD;
}


/* Portfolio */

.portfolio section {
    background-color: #FFF;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 24px;
    row-gap: 48px;
    }

.portfolio-list-item {
    
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute ;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    
    
}

.portfolio-list-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0);
    
}

.portfolio-tit {
    padding: 32px 16px ;
    border: 1px solid #e7e9fc;
    border-top: none;

   
}



.portfolio-title-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}

/* Footer */

.page-footer {
     
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
   
    }

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-cont {
    margin-right: 120px;
}

.logo-footer {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-bottom{color: #f4f4fd;}
.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    
   
}

.footer-social-media {
 margin-left: 120px;
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    background-color: #4D5AE5;
    fill: #F4F4FD;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: #31d0aa;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.container-footer-form {
    display: flex;
    flex-direction: column;
    width: 453px;
    min-height: 80px;
    margin-left: 80px;
}

.footer-caption {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;

}

.footer-modal-label {}

.modal-footer-input-email {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    min-height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;


}

.modal-footer-input-email::placeholder {
    color: #fff;

}



.footer-btn {
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.modal-footer-input-icon {
    fill: #fff;
    top: 0;
    left: 0;
    margin-left: 16px;

}
 

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(46, 47, 66, 0.4);;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* opacity: 0;
    pointer-events: none;
    visibility: hidden;
    */
}

/* .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 24px 24px 24px;
}

.modal-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgba(231, 233, 252, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.modal-btn:hover,
.modal-btn:focus {
    border: none;
    background-color: #404BBF;
    fill: #ffffff;

}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}

.modal-caption {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
}

.modal-form-field {
    width: 360px;
    height: 58px;
    margin-bottom: 8px;
}

.modal-form-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
    margin-bottom: 4px
}

.modal-form-box {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    min-height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
    fill: #ffffff
}

.modal-form-input:focus {
    border-color: #4d5ae5;
    fill: #4D5AE5;
}

.modal-form-icon {
    padding: 3px 0px;
    width: 18px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    transform: translateY(-50%);

}

.person {
    fill: #4D5AE5;
}

.modal-form-icon:hover,
.modal-form-icon:focus {
    fill: #4D5AE5;
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
    fill: #4D5AE5;
}

.modal-form-field {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 8px;
}

.modal-message {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-field-lust {
    margin-bottom: 16px;
}

.textarea-text {   
    width: 100%;
    height: 120px;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-text:focus {
    border-color: #4D5AE5;
}

/* чекбокс */

.checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
}

.modal-form-agreement {
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
   
}

.agreement {}

.agreement-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #F4F4FD;
}

input[type='checkbox']:checked + .agreement .agreement-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    
}


.agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox-icon {
    opacity: 0;
    fill: #F4F4FD;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+.modal-form-agreement .agreement-checkbox .agreement-checkbox-icon {
    fill: #F4F4FD;
    opacity: 1;
}


.agreement-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send-form {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
